<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.selSaM.model.SelSaMModel">

    <!--  목록 조회 -->
    <select id="saleMonthList" resultType="kr.happyjob.study.selSaM.model.SelSaMModel">
        SELECT
        DATE_FORMAT(od.order_date, '%Y-%m') as order_month,
        SUM(odt.order_dt_amt) as order_month_dt_amt,
        SUM(od.order_tot_price) as order_month_tot_price,
        SUM(pd.product_unit_price * odt.order_dt_amt) as order_month_tot_product_price,
        SUM(pd.product_unit_price) as order_month_tot_product_unit_price
        FROM tb_order od
        INNER JOIN tb_order_dt odt ON od.order_no = odt.order_no
        INNER JOIN tb_product pd ON odt.product_no = pd.product_no
        <if test="(order_date != null) and (!order_date.equals(''))">
            WHERE DATE_FORMAT(#{order_date}, '%Y-%m') = DATE_FORMAT(od.order_date, '%Y-%m')
        </if>
        GROUP BY DATE_FORMAT(od.order_date, '%Y-%m')
        <if test="(order_date != null) and (!order_date.equals(''))">
            HAVING DATE_FORMAT(#{order_date}, '%Y-%m') = DATE_FORMAT(od.order_date, '%Y-%m')
        </if>
        ORDER BY DATE_FORMAT(od.order_date, '%Y-%m') desc
    </select>
</mapper>