<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.selSaM.model.SelSaMModel">

    <!--  목록 조회 -->
    <select id="saleMonthList" resultType="kr.happyjob.study.selSaM.model.SelSaMModel">
        SELECT
        DATE_FORMAT(od.order_date, '%Y-%m') as order_month,
        SUM(od.order_tot_price) as total_order_tot_price,
        SUM(pd.product_unit_price * odt.order_dt_amt) as total_product_unit_price,
        (SUM(od.order_tot_price) - SUM(pd.product_unit_price * odt.order_dt_amt)) as net_profit
        FROM tb_order od
        INNER JOIN tb_order_dt odt ON od.order_no = odt.order_no
        INNER JOIN tb_product pd ON odt.product_no = pd.product_no
        <if test="(order_date != null) and (!order_date.equals(''))">
            WHERE od.order_date >= DATE_FORMAT(STR_TO_DATE(#{order_date}, '%Y-%m'), '%Y-%m-01')
            AND od.order_date = LAST_DAY(STR_TO_DATE(#{order_date}, '%Y-%m'))
        </if>
    </select>

</mapper>